application:
  port: 8000
database:
  host: "${POSTGRES_HOST}"
  port: ${POSTGRES_PORT}
  username: "${POSTGRES_USER}"
  password: "${POSTGRES_PASSWORD}"
  database_name: "${POSTGRES_DB}"
esplora:
  base_url: "${INDEXER_ESPLORA_BASE_URL}"
  timeout: 10
  network: "liquidtestnet"
indexer:
  protocol_fee_keeper_asset_id: "38fca2d939696061a8f76d4e6b5eecd54e3b4221c846f24a6b279e79952850a5"
  interval: ${INDEXER_POLL_INTERVAL_MS}
  last_indexed_height: 2497352
