@import 'tailwindcss';
@import '@heroui/react/styles';
@import './tokens.css';
@import './theme.css';
@import './components.css';

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-foreground);
}
